/* Main section */

.main {
  padding: 3rem 50rem 6rem 50rem;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}

.introduction {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.introduction p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

/* Navbar component */

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  text-align: center;
}

.card {
  background-color: transparent;
}

/* about Me Page */
.aboutMeSection {
  margin-right: 30px;
}

.image {
  box-shadow: 3px 4px 25px black;
  border-radius: 10px;
}

/*portfolio Page*/

.projectCard {
  display: flex;
  justify-content: flex-end;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 3rem 2rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .center h1 {
    text-align: center;
  }

  .introduction {
    font-size: 0.8rem;
    justify-content: center;
  }

  .introduction a {
    padding: 1rem;
  }

  .aboutMeSection {
    margin-right: 0;
  }

  /* about me */
  .image {
    margin-top: 30px;
    float: right;
    height: fit-content;
    width: -webkit-fill-available;
  }

  .introduction div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .portfolio {
    justify-content: center;
  }

  .projectCard {
    margin-top: 20px;
    justify-content: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .description_portfolio {
    background-color: gray;
    padding: 10px;
    margin: 10px;
  }
}
