/* Main section */

.main {
  padding: 6rem;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}

.introduction {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.introduction p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

/* Navbar component */

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  text-align: center;
}

.card {
  background-color: transparent;
}

/* about Me Page  and portfolio page*/
.aboutMeSection {
  margin-right: 30px;
}

.image {
  box-shadow: 3px 4px 25px black;
  border-radius: 10px;
}

.projectCard {
  display: flex;
  justify-content: flex-end;
}

/* Mobile */
@media (max-width: 1024px) {
  .description {
    display: block;
  }
  .aboutMeSection {
    margin: 30px 0;
  }
  .projectCard {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 3rem 2rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .center h1 {
    text-align: center;
  }

  .introduction {
    font-size: 0.8rem;
    justify-content: center;
  }

  .introduction a {
    padding: 1rem;
  }

  .projectCard {
    margin-top: 20px;
    justify-content: center;
  }
}
